{% extends "base.html" %}
{% block title %}{{ super() }} : {{ article.title }}{% endblock %}
{% block content %}        
<header>
  <h1>{{ article.title }}</h1>
{% if not HIDE_DATE %}
  <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
{% endif %}
</header>
<article>
    {{ article.content }}
</article>

<hr>

<section id="minicontact">
<em>
<!-- Please comment on <a href="https://social.security.plumbing/@freddy">Mastodon</a>. -->
If you find a mistake in this article, you can <a href="https://github.com/freddyb/homepage/edit/main/content/{{ article.relative_source_path}}">submit a pull request on GitHub</a>.
</em>
</section>

{# List Articles #}
{% if articles|length > 1 %}
<section id="article-list">
<h4>Other posts</h4>
<ol>
{% endif %}
{% for article in articles %}
  <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
    <em>({{ article.locale_date }})</em>
  </li>
{% endfor %}            
{% if articles|length > 1 %}
</ol>
</section>
{% endif %}
{% endblock %}

