{% extends "base.html" %}
{% block title %}{{ super() }} : {{ article.title }}{% endblock %}
{% block content %}        
<header>
  <h1>{{ article.title }}</h1>
{% if not HIDE_DATE %}
  <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
{% endif %}
</header>
<article>
    {{ article.content }}
</article>

<section id="minicontact">
<em>Please contact me or comment on <a href="https://social.security.plumbing/@freddy">Mastodon</a> or <a href="https://twitter.com/freddyb/">Twitter</a>. If you find something you wish to change, you may also <a href="https://github.com/freddyb/homepage/">submit a pull request</a>.</em>
</section>

{# List Articles #}
{% if articles|length > 1 %}
<section id="article-list">
<h4>All posts</h4>
<ol>
{% endif %}
{% for article in articles %}
  <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
    <em>({{ article.locale_date }})</em>
  </li>
{% endfor %}            
{% if articles|length > 1 %}
</ol>
</section>
{% endif %}
{% endblock %}

