:root {
    --color-primary: #fff;
    --color-background: #000;
    --color-link: lightgreen;
    --color-border-top: lightgreen;
  }
h1 { color: lightgreen; }
#pi { color: black; text-shadow: 1px 1px white;}

/* css help & inspiration from Julian https://jwels.berlin/ - thanks :) */
p {
    filter: drop-shadow(0.12em 0.12em 1px rgba(5, 12, 200, 0.75)) drop-shadow(-0.12em -0.12em 1px rgba(255, 255, 0, 0.25)) blur(0.02em);
}
@font-face {
  font-family: "Perfect DOS VGA 437";
  src: url("Perfect DOS VGA 437.ttf");
}
body { 
  font-family: "Perfect DOS VGA 437";
}
body::after {
  content: "";
  position: fixed;
  margin-top: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(transparent, transparent 1px, rgba(0, 0, 0, 0.30) 1px, rgba(0, 0, 0, 0.30) 2px);
  pointer-events: none;
}
